<% content_for :title, "Days" %>

<div class="bg-gray-100 flex gap-8 p-4">
  <div>
    <div class="border-b-indigo-200 border-b-2 pb-2 mb-4">
      <h2 class="font-sans text-4xl font-bold text-indigo-500">Tracked Days</h2>
    </div>
    <div>
      <div class="flex bg-indigo-500 shadow-md rounded-lg p-3 justify-center mb-4">
        <p class="font-sans text-xl font-bold text-gray-100">+ Add new day</p>
      </div>
      <div>
        <% @days.order(date: :desc).each do |day| %>
          <%= render partial: "days/day", locals: { day: day } %>
        <% end %>
      </div>
    </div>
  </div>
  <div>

  </div>
</div>