<div id="<%= dom_id meal %>">
  <p>
    <strong>Name:</strong>
    <%= meal.name %>
  </p>

  <p>
    <strong>Calories:</strong>
    <%= meal.calories %>
  </p>

  <p>
    <strong>Protein:</strong>
    <%= meal.protein %>
  </p>

</div>
